.chatroom {
    height: calc(100% - 71px);
    padding: 20px;
}

.chatroom .top_bar {
    display: grid;
    grid-template-columns: repeat(2,50%);
    background-color: var(--tab_backcolor);
    padding: 5px;
}

.chatroom .top_bar .left_ctn h1,
.chatroom .top_bar .left_ctn h4{
    width: fit-content;
    display: inline-block;
    margin: 0px;
    color: var(--white_text)
}

.chatroom .top_bar .left_ctn h4{
    margin-left: 5px;
}

.chatroom .top_bar .right_ctn{
    text-align: right;
}

.chatroom .main_ctn,
.chatroom .main_ctn .chat_ctn,
.chatroom .main_ctn .text_ctn {
    height: calc(100% - 60px);
    
}

.chatroom .main_ctn .text_ctn {
    max-height: calc(100% - 60px);
    overflow-y: auto;
}

.chatroom .main_ctn .text_ctn .text_bubble {
    border: 1px solid;
    margin: 10px;
    border-radius: 5px;
    padding: 15px;
    min-width: 160px;
    max-width: 500px;
    background-color: var(--chat_bubble);
    color: var(--black_text)
}

.chatroom .main_ctn .chat_ctn form#chat_form {
    padding: 5px 10px;
}

.chatroom .main_ctn .chat_ctn .form-group {
    display: inline-block;
    background: var(--white_backcolor);
    border-radius: 5px;
}

.chatroom .main_ctn .chat_ctn .form-group input#input {
    border: none;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
    padding-left: 5px;
}

.chatroom .main_ctn .chat_ctn .form-group input#input:focus {
    border: none;
    outline: none;
}

.chatroom .main_ctn #video_ctn {
    height: 400px;
    text-align: center;
}

.chatroom .main_ctn #video_ctn > div{
    height: calc(100% - 30px);
}

.chatroom .main_ctn #video_ctn video{
    height: 100%;
    border: 1px solid gray ;
    background-color: lightgray;
}

.chatroom .main_ctn:not([data-t="both"]) #video_ctn{
    display: none;
}

.chatroom .main_ctn[data-t="both"] .chat_ctn{
    height: calc(100% - 340px);
}

.pop_call_notify {
    position: fixed;
    z-index: 9;
    background-color: var(--white_backcolor);
    color: var(--black_text);
    padding: 10px 15px;
    border-radius: 10px;
}

.pop_call_notify[data-pos="top_right"] {
    right: 10px;
    top: 10px;
}

.pop_call_notify[data-pos="top_left"]{
    top: 10px;
    left: 10px;
}