{% extends "htmls/layout.html" %}
{% load static %}

{% block styles %}
    <link href="{% static "css/chatroom.css" %}?time={% now "u" %}" rel="stylesheet">
    <title>Lobby</title>
    <script>
        const chatSocket = new WebSocket('ws://' +window.location.host +'/ws/{{querytype}}/{{ queryid }}/'  );
        {% if querytype == "chat" %}
        const videoSocket = new WebSocket('ws://' +window.location.host +'/ws/video/{{ queryid }}/'  );
        {% endif %}
    </script>
   

{% endblock %}

{% block body %}
<div class="chatroom">
    <div class="top_bar">
        <div class="left_ctn">
            <h1>{{ TopName }}</h1>
            <h4>{{ isOnline }}</h4>
        </div>
        <div class="right_ctn">
            <button id="Call_Btn" class="main_button">Call</button>
        </div>
    </div>
    <div class="main_ctn" data-t="chat">
        <div class="video_ctn" id="video_ctn">
        </div>
        <div class="chat_ctn">
            <div id="#chat-text" class="text_ctn">
            </div>
            <form id="chat_form">
                <div class="form-group">
                    <input class="form-control" id="input" type="text" required>
                    <button class="main_button" id="submit" type="sumit">Send</button>
                </div>
                
            </form>
        </div>
    </div>
</div>

<script src="{% static "js/singlechat.js" %}?time={% now "u" %}" type="text/javascript"></script>
<script src="{% static "js/videochat.js" %}?time={% now "u" %}" type="text/javascript"></script>
{% endblock %}